.title {
  color: #ffffff;
  margin: 0;
  min-width: 80px;
}

.wrapper {
  margin-bottom: 12px;
  align-items: center;
}

.icon {
  display: inline-block;
  width: 26px;
  height: 26px;
}

.linkItem {
  display: flex;
  align-items: center;
  margin-left: 16px;
  color: #ffffff !important;
  &:hover {
    color: #5dc7a5 !important;
    :global .icon-github {
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='%235DC7A5'%3E %3Cpath d='M15.854,8.38 C15.928,7.91 15.974,7.396 15.986,6.82 C15.982,4.345 14.8,3.47 14.572,3.06 C14.907,1.185 14.517,0.333 14.335,0.041 C13.665,-0.197 12.005,0.656 11.099,1.256 C9.62,0.822 6.495,0.865 5.323,1.368 C3.161,-0.183 2.017,0.053 2.017,0.053 C2.017,0.053 1.277,1.382 1.822,3.326 C1.11,4.234 0.58,4.876 0.58,6.58 C0.58,6.988 0.605,7.374 0.648,7.745 C1.261,10.973 3.813,12.365 6.321,12.606 C5.944,12.893 5.491,13.437 5.428,14.067 C4.954,14.374 4,14.476 3.258,14.242 C2.219,13.913 1.822,11.852 0.265,12.145 C-0.071,12.208 -0.005,12.431 0.287,12.621 C0.761,12.929 1.207,13.311 1.552,14.131 C1.816,14.761 2.372,15.884 4.13,15.884 C4.828,15.884 5.317,15.802 5.317,15.802 C5.317,15.802 5.33,17.405 5.33,18.031 C5.33,18.751 4.36,18.953 4.36,19.298 C4.36,19.435 4.681,19.448 4.94,19.448 C5.449,19.448 6.509,19.023 6.509,18.275 C6.509,17.681 6.519,15.683 6.519,15.333 C6.519,14.569 6.927,14.325 6.927,14.325 C6.927,14.325 6.977,18.405 6.829,18.953 C6.655,19.596 6.339,19.505 6.339,19.791 C6.339,20.218 7.614,19.895 8.037,18.961 C8.364,18.23 8.217,14.228 8.217,14.228 L8.558,14.221 C8.558,14.221 8.562,16.053 8.55,16.891 C8.538,17.758 8.449,18.854 8.963,19.371 C9.3,19.711 10.333,20.309 10.333,19.763 C10.333,19.447 9.61,19.186 9.61,18.329 L9.61,14.382 C10.05,14.382 10.14,15.679 10.14,15.679 L10.3,18.089 C10.3,18.089 10.194,18.969 11.247,19.336 C11.619,19.466 12.415,19.502 12.452,19.283 C12.489,19.063 11.494,18.739 11.485,18.058 C11.479,17.644 11.503,17.401 11.503,15.598 C11.503,13.795 11.262,13.128 10.419,12.597 C12.861,12.346 15.397,11.253 15.854,8.38 L15.854,8.38 Z' transform='translate(5 4)'/%3E %3C/svg%3E") center center no-repeat;
    }
  }
  &:nth-child(1) {
    margin-left: 0;
  }
  &:nth-child(2) {
    margin-right: auto;
  }
}

.items {
  display: flex;
  align-items: center;
}
